/*style Julien Praticiens*/

.login-form {
	width: 340px;
	margin: 50px auto;
}
.login-form form {
	margin-bottom: 15px;
	background: #f7f7f7;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	padding: 30px;
}
.login-form h2 {
	margin: 0 0 15px;
}
.form-control, .btn {
	min-height: 38px;
	border-radius: 2px;
}
.btn {        
	font-size: 15px;
	font-weight: bold;
}
.container{
	width: 100%;
	margin-left: -14px;
}
#page {
	background-color:white;
	width : 96%;
	margin : auto ;
	border : 0.2em solid black;
	padding : 0.1em;
}
#entete{
background-color:rgb(72,198,236);
	color : #980101;
	border: solid 0.1em #980101;
	height: 110px;
	padding: 0em;
	border-collapse: separate;
}
.wrap {
	text-align: center;
}
#entete h1 {
	font-size: 2.5rem;
	text-align: center;
    margin-top: 34px;
}
.connexion .form-control{
	width: 20%;
	text-align: center;
	display: inline;
}
ul.nav.navbar-nav{
	display: inline;
}
li.navbar-brand {
    text-align: center;
}
#contenu{
	text-align: center;
}
.wrap{
	margin-top: 10%;
}
.encadre{
	text-align: center;
}
table.table.table-borderless input {
	padding-top: 10px;
	text-align: center;
	border: none;
}
table.table-bordeless{
    table-layout: auto;
    width: 180px;    
}
.table{
    margin-left:-240px;
}
tr th {
    text-align: center;
}
.bienvenue{
	text-align: center;
}
.bienvenue h1{
	font-size: 70px;
	margin-top: 9%;
}
.bienvenue h2{
	font-family: 'Indie Flower', cursive;
	font-size: 56px;
}
.fond{
	background-image: url(https://gulfshoreurology.com/wp-content/uploads/2015/10/blue-gradient-wallpaper-399-448-hd-wallpapers.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

td {
	text-align:center;
}